<!doctype html>
<html lang="en">
  <head>
    <meta charSet="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />

    <meta name="description" content="Ghola is a palette generator for developers">
    <meta content="Ghola - Palette Generator for Developers " name="og:title">
    <meta content="website" name="og:type">
    <meta content="https://ghola.dev/og-image.png" name="og:image">

    <meta itemprop="ai-content-declaration:version" content="1.0.0-alpha1">
    <meta itemprop="ai-content-declaration:level" content="none">

    <title>
      Ghola - Palette Generator for Developers
    </title>
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="/js/main.js"></script>
    <template id="g-hex-code">
      <code class="db w-100 black-ish tl f-1 fw-4 ff-mono ph-2 mv-2 h-1-line lh-solid">
        <slot name="code"></slot>
      </code>
    </template>
    <template id="g-color-swatch-input">
      <input class="h-100 w-100 bn bw-0 pa-0 pointer" type="color" />
    </template>
    <template id="g-color-name">
      <div class="ttu f-1 gray-darker fw-5 nowrap tl mt-2 ph-2 lh-solid h-2-lines flex items-end">
        <slot name="name"></slot>
      </div>
    </template>
    <template id="g-editable-color-swatch">
      <form class="bg-white w-5 flex flex-column pa-0 justify-center ba bc-gray-lightest">
        <label class="ma-0 pa-0 sr-only"></label>
        <g-color-swatch-input></g-color-swatch-input>
        <g-color-name></g-color-name>
        <g-hex-code></g-hex-code>
      </form>
    </template>
    <template id="g-color-scale">
      <div class="flex items-center justify-center pa-3 gap-2 ba bc-gray-light bg-white br-2">
      </div>
    </template>
    <template id="g-color-in-palette">
      <div class="flex items-start justify-center pa-3 bn br-1 shadow-1 bg-gray-lightest">
        <nav class="flex flex-column pa-3 w-20">
          <%- include("templates/small-button.html", {
                additionalButtonClass: "mb-1",
                data: "complement",
                label: "Add Complement",
                icon: {
                  char: "&DoubleUpDownArrow;",
                  description: "Double up and down arrow",
                }
              }) %>
          <%- include("templates/small-button.html", {
                additionalButtonClass: "mb-1",
                data: "split-complement",
                label: "Add Split Complement",
                icon: {
                  char: "&nLeftrightarrow;",
                  description: "Left/right arrow with slash through it",
                }
              }) %>
          <%- include("templates/small-button.html", {
                additionalButtonClass: "mb-1",
                data: "analogous",
                label: "Add Analogous",
                icon: {
                  char: "&angmsdac;",
                  description: "Angle arrow",
                }
              }) %>
          <%- include("templates/small-button.html", {
                data: "triad",
                label: "Add Triad",
                icon: {
                  char: "&triangle;",
                  description: "Triangle",
                }
              }) %>
          <%- include("templates/small-button.html", {
                accentColor: "red",
                data: "remove",
                label: "Remove Color",
                icon: {
                  char: "&times;",
                  description:"'x' or times sign" 
                }}) %>
        </nav>
        <g-color-scale></g-color-scale>
      </div>
    </template>
    <template id="g-palette">
      <article>
        <section class="flex flex-column gap-3">
        </section>
        <nav class="flex items-center justify-center pa-3 gap-3">
          <g-pe-button-accent color="blue">
            <button data-add-random-color class="shadow-button pointer f-3 ph-3 pv-2 tc ba br-3 lh-solid flex items-center">
              <div role="none" class="mr-2">
                <div class="flex">
                  <span class="br-tl-2 h-1 w-1 bg-blue"></span>
                  <span class="h-1 w-1 bg-green"></span>
                  <span class="br-tr-2 h-1 w-1 bg-gray"></span>
                </div>
                <div class="flex">
                  <span class="h-1 w-1 bg-purple"></span>
                  <span class="h-1 w-1 bg-yellow"></span>
                  <span class="h-1 w-1 bg-black"></span>
                </div>
                <div class="flex">
                  <span class="br-bl-2 h-1 w-1 bg-red"></span>
                  <span class="h-1 w-1 bg-white"></span>
                  <span class="br-br-2 h-1 w-1 bg-orange"></span>
                </div>
              </div>
              Add Random Color
            </button>
          </g-pe-button-accent>
        </nav>
      </article>
    </template>
  </head>
  <body class="ff-sans bg-white-ish black-ish pa-3">
    <g-palette primary-hex-code="#452176"></g-palette>
  </body>
</html>

